{
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 120,
	"endOfLine": "lf",
	"semi": true,
	"singleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "always",
	"overrides": [
		{
			"files": ["**/*.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
